[alias]
	co = checkout
	b = branch
	st = status
	cm = commit -m
	jira = !git rev-parse --abbrev-ref HEAD | grep -o \"[0-9]*\" | xargs -I {} python -mwebbrowser http://jira.company/browse/OTB-{}
	sl = stash list
	st = status
	cm = commit -m
	rc = rebase --continue
	ca = commit --amend
	ra = rebase --abort
	cc = cherry-pick --continue
	b = branch
	squash = !git add -u && git cm "CommitToSquash" && git rebase -i head~2
	npushed = log @{u}..
	whenadded = log --diff-filter=A --
	mrpush = push -f origin
	reuse = commit --reuse-message=ORIG_HEAD
	ucm = reset --soft HEAD~1
	tracking = remote show origin
	av = !git add -u && git gui
